@{
    ViewData["Title"] = "Detail";
    ProductItem3 productItem3s = Model;
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Product Item 3 ətraflı</h2>
            <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Başlıq </th>
                            <td>
                                @productItem3s.AzTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Mətn</th>
                            <td>
                                @Html.Raw(productItem3s.AzDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Заголовок</th>
                            <td>
                                @productItem3s.RuTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Текст</th>
                            <td>
                                @Html.Raw(productItem3s.RuDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title</th>
                            <td>
                                @productItem3s.EnTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @Html.Raw(productItem3s.EnDescription)
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Əsas mətn</th>
                            <td>
                                @Html.Raw(productItem3s.AzDescription2)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Главный текст</th>
                            <td>
                                @Html.Raw(productItem3s.RuDescription2)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Main text</th>
                            <td>
                                @Html.Raw(productItem3s.EnDescription2)
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Məlumat</th>
                            <td>
                                @Html.Raw(productItem3s.AzInfo)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Информация</th>
                            <td>
                                @Html.Raw(productItem3s.RuInfo)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Information</th>
                            <td>
                                @Html.Raw(productItem3s.EnInfo)
                            </td>
                        </tr>


                        <tr>
                            <th scope="row">İkinci Başlıq </th>
                            <td>
                                @productItem3s.AzSecondTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">İkinci Mətn</th>
                            <td>
                                @Html.Raw(productItem3s.AzSecondDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Второй Заголовок</th>
                            <td>
                                @productItem3s.RuSecondTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Второй Текст</th>
                            <td>
                                @Html.Raw(productItem3s.RuSecondDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Second Title</th>
                            <td>
                                @productItem3s.EnSecondTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Second Description</th>
                            <td>
                                @Html.Raw(productItem3s.EnSecondDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Üçüncü Başlıq </th>
                            <td>
                                @productItem3s.AzThirdTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Üçüncü Mətn</th>
                            <td>
                                @Html.Raw(productItem3s.AzThirdDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Третий Заголовок</th>
                            <td>
                                @productItem3s.RuThirdTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Третий Текст</th>
                            <td>
                                @Html.Raw(productItem3s.RuThirdDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Third Title</th>
                            <td>
                                @productItem3s.EnThirdTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Third Description</th>
                            <td>
                                @Html.Raw(productItem3s.EnThirdDescription)
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Şəkil</th>
                            <td>
                                <img style="width:100px;height:100px;object-fit:cover;border-radius:50%" src="~/images/@productItem3s.Image" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>









