@{
    ViewData["Title"] = "Index";
    List<HomeCarousel> homeCarousel = Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Carousel</h4>
                <a asp-action="Create" class="btn btn-primary">Yenisini yarat</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Şəkli</th>
                                <th>Ad</th>
                                <th>Имя</th>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Tarix</th>
                                <th class="text-right pr-3">Əməliyyatlar</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in homeCarousel)
                            {
                            <tr>
                                <td>
                                    <img style="width:70px;height:70px;object-fit:cover;border-radius:50%" src="~/images/@item.Image" />
                                </td>
                                <td>
                                    @item.AzTitle
                                </td>
                                <td>
                                    @item.RuTitle
                                </td>
                                <td>
                                    @item.EnTitle
                                </td>
                                <td>
                                    @item.URL
                                </td>
                                <td>
                                    @item.DateTime
                                </td>

                                <td class="d-flex justify-content-end">
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success mr-2">Düzəliş et</a>
                                    <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>




