@model InformationVM
@{
    
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    @if (culture == "az")
        {
                ViewData["Title"] = "Məlumat mərkəzi";

        }
        else if (culture == "en")
        {
                ViewData["Title"] = "Information Center";
        }
        else if (culture == "ru")
        {
                ViewData["Title"] = "Информационный Центр";
        }
}
@if (Model.Type=="faqs")
{
    <div class="page_content total_page">
        <div class="static_page_header">
            @if (culture == "az")
        {
                            <h2>Tez-tez soruşulan suallar</h2>


        }
        else if (culture == "en")
        {
                            <h2>Frequently asked questions</h2>

        }
        else if (culture == "ru")
        {
                            <h2>Часто задаваемые вопросы</h2>

        }
        </div>

        <div class="white_background_content static_page_content">
            @foreach (var item in Model.FAQCategories)
            {
                @if (culture == "az" )
                {
                    <div class="faq">
                        <h3>@item.AzTitle</h3>
                        <div class="faq_self">
                            <ul>
                                @foreach (var faq in item.FAQs)
                                {
                                    <li>
                                        <button class="question">
                                            <strong>@faq.AzTitle</strong>
                                        </button>
                                        <div class="answer">
                                            
                                                @Html.Raw(faq.AzDescription)
                                            
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>


                }
                else if (culture == "en")
                {

                    <div class="faq">
                        <h3>@item.EnTitle</h3>
                        <div class="faq_self">
                            <ul>
                                @foreach (var faq in item.FAQs)
                                {
                                    <li>
                                        <button class="question">
                                            <strong>@faq.EnTitle</strong>
                                        </button>
                                        <div class="answer">
                                            
                                                @Html.Raw(faq.EnDescription)
                                            
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                }
                else if (culture == "ru")
                {
                    <div class="faq">
                        <h3>@item.RuTitle</h3>
                        <div class="faq_self">
                            <ul>
                                @foreach (var faq in item.FAQs)
                                {
                                    <li>
                                        <button class="question">
                                            <strong>@faq.RuTitle</strong>
                                        </button>
                                        <div class="answer">
                                            
                                                @Html.Raw(faq.RuDescription)
                                            
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                }

            }


        </div>
        @await Component.InvokeAsync("Footer")

    </div>

}
else if (Model.Type == "news")
{
    <div class="page_content total_page">
        <div class="static_page_header">
            <h2>Xəbərlər</h2>
        </div>

        <div class="main_wrap_content">
            <div class="news_grid">
                @foreach (var item in Model.News)
                {
                    <div class="ng_item">
                        <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id">
                            <div class="news_image" >
                              <img style="width:100%;height:100%" src="~/images/@item.Image" alt="">

                                </div>
                            <div class="news_desc">
                                @if (culture == "az")
                                {
                                    <strong>@item.AzTitle</strong>


                                }
                                else if (culture == "en")
                                {

                                    <strong>@item.EnTitle</strong>
                                }
                                else if (culture == "ru")
                                {
                                    <strong>@item.RuTitle</strong>

                                }
                                <p>@item.DateTime.ToString("dd MMMM yyyy")</p>
                            </div>
                        </a>
                    </div>
                }

            </div>
            
        </div>
        @await Component.InvokeAsync("Footer")

    </div>
}
else if (Model.Type == "rules")
{
    <div class="page_content total_page">
        <div class="static_page_header">
            <h2>Sığorta qaydaları</h2>
        </div>

        <div class="white_background_content static_page_content">
            <div class="legislation_grid">
                @foreach (var item in Model.RuleCategories)
                {
                    @if (culture == "az")
                    {
                        <div class="lg_item">
                            <h3>@item.AzName</h3>
                            <ul>
                                @foreach (var rule in item.Rules)
                                {
                                    <li>
                                        <a href="~/files/@rule.FileName" target="_blank" class="file pdf">
                                            <p>@rule.AzName</p>
                                            @{ 
                                                var size = @rule.Size.Substring(0, 4) + " MB";
                                            }
                                            <span>@size</span>


                                        </a>
                                    </li>
                                                }

                            </ul>
                        </div>

                    }
                    else if (culture == "en")
                    {

                        <div class="lg_item">
                            <h3>@item.EnName</h3>
                            <ul>
                                @foreach (var rule in item.Rules)
                                {
                                    <li>
                                        <a href="~/files/@rule.FileName" target="_blank" class="file pdf">
                                            <p>@rule.EnName</p>
                                            @{
                                                var size = @rule.Size.Substring(0, 4) + " MB";
                                            }
                                            <span>@size</span>


                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    else if (culture == "ru")
                    {
                        <div class="lg_item">
                            <h3>@item.RuName</h3>
                            <ul>
                                @foreach (var rule in item.Rules)
                                {
                                    <li>
                                        <a href="~/files/@rule.FileName" target="_blank" class="file pdf">
                                            <p>@rule.RuName</p>
                                            @{
                                                var size = @rule.Size.Substring(0, 4) + " MB";
                                            }
                                            <span>@size</span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>

                    }

                }

            </div>
        </div>

        <footer>
        @await Component.InvokeAsync("Footer")
       </footer>
       
    </div>
}
