@{
    ViewData["Title"] = "Detail";
    ProductInformation productInformation = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Məhsul Sözləri Ətraflı</h2>
            <a asp-controller="Product"  asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Bölmə Başlığı </th>
                            <td>
                                @productInformation.AzSectionTitle
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Заголовок раздела</th>
                            <td>
                                @productInformation.RuSectionTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Section Title</th>
                            <td>
                                @productInformation.EnSectionTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Başlıq </th>
                            <td>
                                @productInformation.AzTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Mətn</th>
                            <td>
                                @Html.Raw(productInformation.AzDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Заголовок</th>
                            <td>
                                @productInformation.RuTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Текст</th>
                            <td>
                                @Html.Raw(productInformation.RuDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title</th>
                            <td>
                                @productInformation.EnTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @Html.Raw(productInformation.EnDescription)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



