@{
    ViewData["Title"] = "Index";
    List<SecondMenu> secondMenus= Model;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Köməkçi səhifələr</h4>
                <a asp-action="Create" class="btn btn-primary">Yenisini yarat</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ad</th>
                                <th>Имя</th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Status</th>
                                <th class="text-right pr-3">Əməliyyatlar</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in secondMenus)
                            {
                                <tr>
                                    <td>
                                        @item.AzTitle
                                    </td>
                                    <td>
                                        @item.RuTitle
                                    </td>
                                    <td>
                                        @item.EnTitle
                                    </td>
                                    <td>
                                        @item.URL
                                    </td>
                                    <td>
                                        @if (item.IsDeactive)
                                        {
                                            <span class="text-danger">Passiv</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">Aktiv </span>

                                        }
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success mr-2">Düzəliş et</a>
                                        @if (item.IsDeactive)
                                        {
                                            <a asp-action="Activate" asp-route-id="@item.Id" class="btn btn-outline-success">Aktiv et</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary mr-2">Deaktiv et</a>

                                        }
                                        <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


