
@{
    
    ManagementDetailViewModel managementDetailViewModel = Model;
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    @if (culture == "az")
        {
                ViewData["Title"] = "Rəhbərlik";

        }
        else if (culture == "en")
        {
                ViewData["Title"] = "Leadership";
        }
        else if (culture == "ru")
        {
                ViewData["Title"] = "Лидерство";
        }

}
<div class="page_content total_page">
    <div class="static_page_header">
        @if (culture == "az")
        {
            <h2>Rəhbərlik</h2>

        }
        else if (culture == "en")
        {
            <h2>Leadership</h2>

        }
        else if (culture == "ru")
        {
            <h2>Лидерство</h2>
            
        }
        <div class="about_navigation">
                <ul>
                    @foreach (ManagementCategory managementCategory in managementDetailViewModel.ManagementCategories)
                    {
                        @if (culture == "az")
                        {

                            <li><a asp-controller="Management" asp-action="Index">@managementCategory.AzName</a></li>

                        }
                        else if (culture == "en")
                        {

                            <li><a asp-controller="Management" asp-action="Index">@managementCategory.EnName</a></li>
                        }
                        else if (culture == "ru")
                        {

                            <li><a asp-controller="Management" asp-action="Index">@managementCategory.RuName</a></li>
                        }

                    }

                </ul>
            </div>
    </div>
    
    <div class="white_background_content static_page_content">
        <div class="reports_item" data-anchor="management">
            <div class="management_item">
                <div class="image">
                    <img src="~/images/persons/@managementDetailViewModel.ManagementDetail.Management.Image" alt="">
                </div>
                <div class="inner">
                    @if (culture == "az")
                    {
                        <h3>@managementDetailViewModel.ManagementDetail.Management.AzFullName</h3>
                        <h4>@managementDetailViewModel.ManagementDetail.Management.AzPosition</h4>
                        <div class="text">
                            <p>@Html.Raw(managementDetailViewModel.ManagementDetail.AzDescription)</p>
                        </div>
                    }
                    else if (culture == "en")
                    {
                        <h3>@managementDetailViewModel.ManagementDetail.Management.RuFullName</h3>
                        <h4>@managementDetailViewModel.ManagementDetail.Management.RuPosition</h4>
                        <div class="text">
                            <p>@Html.Raw(managementDetailViewModel.ManagementDetail.RuDescription)</p>
                        </div>
                    }
                    else if (culture == "ru")
                    {
                        <h3>@managementDetailViewModel.ManagementDetail.Management.EnFullName</h3>
                        <h4>@managementDetailViewModel.ManagementDetail.Management.EnPosition</h4>
                        <div class="text">
                            <p>@Html.Raw(managementDetailViewModel.ManagementDetail.EnDescription)</p>
                        </div>
                    }

                </div>
            </div>

        </div>



    </div>

        <footer>
        @await Component.InvokeAsync("Footer")
       </footer>

</div>

<div class="page_background">
    <video muted loop class="video" autoplay playsinline>
        <source src="~/video/background.mp4" type="video/mp4" />
    </video>
</div>

<div class="assistant_wrap">
    <div class="eye"><img src="~/images/asistent.png" /></div>
    <div class="eye_animated">
        <video autoplay="autoplay" muted="muted" loop="loop" data-v-a95f347a="">
            <source src="~/video/eye.mov" type="video/mp4; codecs='hvc1'">
            <source src="~/video/eye.webm" type="video/webm">
        </video>
    </div>
</div>


