@{
    ViewData["Title"] = "Detail";
    OnlineService onlineService = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Online Xidmətlər ətraflı</h2>
            <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Başlıq </th>
                            <td>
                                @onlineService.AzTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Mətn</th>
                            <td>
                                @Html.Raw(onlineService.AzDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Заголовок</th>
                            <td>
                                @onlineService.RuTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Текст</th>
                            <td>
                                @Html.Raw(onlineService.RuDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title</th>
                            <td>
                                @onlineService.EnTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @Html.Raw(onlineService.EnDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Url</th>
                            <td>
                                @onlineService.URL
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Şəkil</th>
                            <td>
                                <img style="width:100px;height:100px;object-fit:cover;border-radius:50%" src="~/images/@onlineService.Image" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





