@{
    ViewData["Title"] = "Detail";
    Customer customer = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">Müştəri Haqqında</h2>
            <a asp-controller="Product"  asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Ad</th>
                            <td>
                                @customer.Name
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Şirkət</th>
                            <td>
                                @customer.Work
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Mətn</th>
                            <td>
                                @Html.Raw(customer.AzDescription)
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Текст</th>
                            <td>
                                @Html.Raw(customer.RuDescription)
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @Html.Raw(customer.EnDescription)
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Şəkil</th>
                            <td>
                                <img style="width:100px;height:100px;object-fit:cover;border-radius:50%" src="~/images/@customer.Image" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





