@model SimpleProduct
<div class="content text-center">
    <div class="col-lg-5" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Simple Product düzəliş et</h5>
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                    Go Back
                </a>
            </div>

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group language-body form-group-float">
                        <label asp-for="@Model.AzDescription">Mətn</label>
                        <textarea asp-for="@Model.AzDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.AzDescription"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float">
                        <label asp-for="@Model.RuDescription">Текст</label>
                        <textarea asp-for="@Model.RuDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.RuDescription"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float">
                        <label asp-for="@Model.EnDescription">Text</label>
                        <textarea asp-for="@Model.EnDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.EnDescription"></span>
                    </div>
                    <button type="submit" class="btn bg-blue-800"> Düzəliş et <i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/jquery/jcrop.js"></script>
    <script src="/js/JavaScript.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <partial name="_AddNewInputScriptPartial">


}


