@model Footer
<div class="content text-center">
    <div class="col-lg-5" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@Model.AzTitle düzəliş et </h5>
                <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                    Go Back
                </a>
            </div>

            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 20%; margin-left: 35%">
                <label class="btn btn-secondary active language" id="0header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Az
                </label>
                <label class="btn btn-secondary language" id="1header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Ru
                </label>
                <label class="btn btn-secondary language" id="2header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option3" autocomplete="off"> En
                </label>
            </div>

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data" >
                    <div class="form-group language-body form-group-float">
                        <label asp-for="@Model.AzTitle">Azerbaycan dilində tam adı</label>
                        <input asp-for="@Model.AzTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.AzTitle"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float">
                        <label asp-for="@Model.RuTitle">Заголовок на русском языке</label>
                        <input asp-for="@Model.RuTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.RuTitle"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float ">
                        <label asp-for="@Model.EnTitle">Title in English</label>
                        <input asp-for="@Model.EnTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.EnTitle"></span>
                    </div>
                    <div class="form-group form-group-float ">
                        <label asp-for="@Model.URL"></label>
                        <input asp-for="@Model.URL" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.URL"></span>
                    </div>
                    <button type="submit" class="btn bg-blue-800">Düzəliş et<i class="icon-ml-2"></i></button>

                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/JavaScript.js"></script>
    <partial name="_ValidationScriptsPartial" />
}