

@model Management
<div class="content text-center">
    <div class="col-lg-12" style="display: inline-block">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@Model.AzFullName Düzəliş Et</h5>
                <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                    Go Back
                </a>
            </div>

            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 20%; margin-left: 35%">
                <label class="btn btn-secondary active language" id="0header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Az
                </label>
                <label class="btn btn-secondary language" id="1header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Ru
                </label>
                <label class="btn btn-secondary language" id="2header" style=" cursor: pointer">
                    <input type="radio" name="options" id="option3" autocomplete="off"> En
                </label>
            </div>

            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data" style="margin-left: 25%">

                    <div class="form-group form-group-float" style="width: 50%">
                        <label asp-for="Photo" style="display: block">Şəkil</label>
                        <input type="file" asp-for="Photo" class="form-control" placeholder="Photo">
                        <span class="text-danger" asp-validation-for="@Model.Image"></span>
                    </div>
                    <div class="form-group header-body form-group-float w-lg-50">
                        <label asp-for="@Model.AzFullName">Azerbaycan dilində adı</label>
                        <input asp-for="@Model.AzFullName" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.AzFullName"></span>
                    </div>
                    <div style="display:none" class="form-group header-body form-group-float w-lg-50">
                        <label asp-for="@Model.RuFullName">Имя на русском</label>
                        <input asp-for="@Model.RuFullName" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.RuFullName"></span>
                    </div>
                    <div style="display:none" class="form-group header-body form-group-float w-lg-50">
                        <label asp-for="@Model.EnFullName">Name in English</label>
                        <input asp-for="@Model.EnFullName" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.EnFullName"></span>
                    </div>
                    <div class="form-group language-body form-group-float w-lg-50">
                        <label asp-for="@Model.AzPosition">Azerbaycan dilində mətn</label>
                        <textarea asp-for="@Model.AzPosition" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.AzPosition"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float w-lg-50">
                        <label asp-for="@Model.RuPosition">Текст на русском</label>
                        <textarea asp-for="@Model.RuPosition" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.RuPosition"></span>
                    </div>
                    <div style="display:none" class="form-group language-body form-group-float w-lg-50">
                        <label asp-for="@Model.EnPosition">Description in English</label>
                        <textarea asp-for="@Model.EnPosition" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.EnPosition"></span>
                    </div>
                    <div class="form-group third-body form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.AzDescription">Haqqında Azərbaycan dilində</label>
                        <textarea id='magament-create-az' asp-for="@Model.ManagementDetail.AzDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.AzDescription"></span>
                    </div>
                    <div style="display:none" class="form-group third-body form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.RuDescription">О на русском</label>
                        <textarea id='magament-create-ru' asp-for="@Model.ManagementDetail.RuDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.RuDescription"></span>
                    </div>
                    <div style="display:none" class="form-group third-body form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.EnDescription">About in English</label>
                        <textarea id='magament-create-en' asp-for="@Model.ManagementDetail.EnDescription" class="form-control" style="height: 8em"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.EnDescription"></span>
                    </div>

                    <div class="form-group seo-title form-group-float w-lg-50">
                        <label asp-for="@Model.AzSeoTitle">Azerbaycan dilində SEO başlıq</label>
                        <input asp-for="@Model.AzSeoTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.AzSeoTitle"></span>
                    </div>
                    <div style="display:none; width: 100%" class="form-group seo-title form-group-float w-lg-50">
                        <label asp-for="@Model.RuSeoTitle">SEO заголовок на русском языке</label>
                        <input asp-for="@Model.RuSeoTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.RuSeoTitle"></span>
                    </div>
                    <div style="display:none" class="form-group seo-title form-group-float w-lg-50">
                        <label asp-for="@Model.EnSeoTitle">SEO Title in English</label>
                        <input asp-for="@Model.EnSeoTitle" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.EnSeoTitle"></span>
                    </div>
                    <div class="form-group seo-desc form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.AzSeoDescription">Azerbaycan dilində SEO mətn</label>
                        <textarea asp-for="@Model.ManagementDetail.AzSeoDescription" class="form-control" style="height: 8em" id="azSeo-desc"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.AzSeoDescription"></span>
                    </div>
                    <div style="display:none" class="form-group seo-desc form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.RuSeoDescription">SEO Текст на русском</label>
                        <textarea asp-for="@Model.ManagementDetail.RuSeoDescription" class="form-control" style="height: 8em" id="ruSeo-desc"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.RuSeoDescription"></span>
                    </div>
                    <div style="display:none" class="form-group seo-desc form-group-float w-lg-50">
                        <label asp-for="@Model.ManagementDetail.EnSeoDescription">SEO Description in English</label>
                        <textarea asp-for="@Model.ManagementDetail.EnSeoDescription" class="form-control" style="height: 8em" id="enSeo-desc"></textarea>
                        <span class="text-danger" asp-validation-for="@Model.ManagementDetail.EnSeoDescription"></span>
                    </div>
                    <div class="form-group form-group-float w-lg-50">
                        <label>Kateqorisini seç</label>
                        <select class="custom-select " name="catId">
                            @foreach (ManagementCategory manCat in ViewBag.Categories)
                            {
                                <option value="@manCat.Id">@manCat.AzName</option>
                            }

                        </select>
                    </div>
                    <button type="submit" class="btn bg-blue-800" style="margin-right: 50%">Yarat<i class="icon-ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/jquery/jcrop.js"></script>
    <script src="/js/language.js"></script>
    <partial name="_ValidationScriptsPartial" />

}





