@inject IViewLocalizer Localizer
@model List<OnlineService>
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    @if (culture == "az")
        {
                ViewData["Title"] = "Onlayn Xidmətlər";

        }
        else if (culture == "en")
        {
                ViewData["Title"] = "Online Services";
        }
        else if (culture == "ru")
        {
                ViewData["Title"] = "Онлайн Сервисы";
        }
   
}

<div class="page_content total_page">
    <div class="main_wrap_content">
        @if (culture == "az")
        {
            <h1>Onlayn Xidmətlər</h1>

        }
        else if (culture == "en")
        {
            <h1>Online Services</h1>

        }
        else if (culture == "ru")
        {
            <h1>Онлайн Сервисы</h1>
            
        }

        <div class="total_page_grid">
            @foreach (OnlineService item in Model)
            {


                <div class="product_item">
                    <a asp-controller="OnlineServices" asp-action="Detail" asp-route-id="@item.Id" class="product_link">
                        <div class="product_short_desc">
                            @if (culture == "az")
                            {
                                <strong>@item.AzTitle</strong>
                                <p>@Html.Raw(item.AzDescription)</p>
                            }
                            else if (culture == "ru")
                            {
                                <strong>@item.RuTitle</strong>
                                <p>@Html.Raw(item.RuDescription)</p>
                            }
                            else if (culture == "en")
                            {
                                <strong>@item.EnDescription</strong>
                                <p>@Html.Raw(item.EnDescription)</p>
                            }

                        </div>
                        <div class="product_image" style="background-image:url(images/@item.Image);"></div>
                    </a>
                </div>
            }
            <div class="product_item">
		      <a asp-controller="OnlineServices" asp-action="OnlinePayment" class="product_link">
		        <div class="product_short_desc">
                        @if (culture == "az")
                        {
                            <strong>Online ödəniş</strong>
                            <p>Short description</p>
                        }
                        else if (culture == "ru")
                        {
                            <strong>Онлайн платеж</strong>
                            <p>Short description</p>
                        }
                        else if (culture == "en")
                        {
                            <strong>Online payment</strong>
                            <p>Short description</p>
                            
                        }



		          
		        </div>
		        <div class="product_image" style="background-image:url(images/10_blue.png);"></div>
		      </a>
			  </div>
        </div>
    </div>
        <footer>
        @await Component.InvokeAsync("Footer")
       </footer>

</div>

<div class="page_background">
    <video muted loop class="video" autoplay playsinline>
        <source src="~/video/background.mp4" type="video/mp4" />
    </video>
</div>

<div class="assistant_wrap">
    <div class="eye"><img src="~/images/asistent.png" /></div>
    <div class="eye_animated">
        <video autoplay="autoplay" muted="muted" loop="loop" data-v-a95f347a="">
            <source src="~/video/eye.mov" type="video/mp4; codecs='hvc1'">
            <source src="~/video/eye.webm" type="video/webm">
        </video>
    </div>
</div>

