@inject IViewLocalizer Localizer
@model HeaderViewModel
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    var context = Context.Request;
    var url = context.Path + context.QueryString;
}
<header>
    <div class="logo_side">
        <a asp-controller="Home" asp-action="Index" class="logo">
            
            <div class="logo_white"></div>
            <div class="logo_color"></div>    
            


            
        </a>
        <div class="lang_select">

            @if (culture == "az")
            {
                <a class="active_lang open_select">AZ</a>
                <div class="select_box">
                    <div class="select_content">
                        <ul>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url" class="active">AZ</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url">EN</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url">RU</a></li>
                        </ul>
                    </div>
                </div>

            }
            else if (culture == "en")
            {
                <a class="active_lang open_select">EN</a>
                <div class="select_box">
                    <div class="select_content">
                        <ul>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url">AZ</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url" class="active">EN</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url">RU</a></li>
                        </ul>
                    </div>
                </div>

            }
            else if (culture == "ru")
            {
                <a class="active_lang open_select">RU</a>
                <div class="select_box">
                    <div class="select_content">
                        <ul>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url">AZ</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url">EN</a></li>
                            <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url" class="active">RU</a></li>
                        </ul>
                    </div>
                </div>

            }

        </div>
    </div>
    <div class="main_menu">
        <div class="mm_wrap">
            <div class="menu_header">
                <div class="lang_select">
                    @if (culture == "az")
                    {
                        <a class="active_lang open_select">AZ</a>
                        <div class="select_box">
                            <div class="select_content">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url" class="active">AZ</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url">EN</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url">RU</a></li>
                                </ul>
                            </div>
                        </div>

                    }
                    else if (culture == "en")
                    {
                        <a class="active_lang open_select">EN</a>
                        <div class="select_box">
                            <div class="select_content">
                                <ul>

                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url" class="active">EN</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url">AZ</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url">RU</a></li>
                                </ul>
                            </div>
                        </div>

                    }
                    else if (culture == "ru")
                    {
                        <a class="active_lang open_select">RU</a>
                        <div class="select_box">
                            <div class="select_content">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="ru" asp-route-url="@url" class="active">RU</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="az" asp-route-url="@url">AZ</a></li>
                                    <li><a asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en" asp-route-url="@url">EN</a></li>
                                </ul>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <nav>
                <ul>
                    @foreach (Navbar item in Model.Navbars)
                    {
                        if (culture == "az")
                        {
                            <li><a href="@(context.PathBase+item.URL)">@item.AzTitle</a>
                                @if (item.Id==1)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var secondMenu in Model.SecondMenus)
                                         {
            			                      <li><a  asp-controller="@secondMenu.URL" asp-action="">@secondMenu.AzTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==2)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var product in Model.Products)
                                         {
            			                      <li><a  asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.AzTitle @product.AzTitle2</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }
                                else if (item.Id==3)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var onlineService in Model.OnlineServices)
                                         {
            			                      <li><a asp-controller="OnlineServices" asp-action="Detail" asp-route-id="@onlineService.Id">@onlineService.AzTitle</a></li>
                                             
                                         }
            			                      <li><a asp-controller="OnlineServices" asp-action="OnlinePayment">Online ödəniş</a></li>
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==4)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var informationCenter in Model.InformationCenters)
                                         {
            			                      <li><a asp-controller="InformationCenter" asp-action="Detail" asp-route-id="@informationCenter.Id">@informationCenter.AzTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }

                            </li>
                            
                        }
                        else if (culture == "en")
                        {
                            <li><a href="@(context.PathBase+item.URL)">@item.EnTitle</a>
                                @if (item.Id==1)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var secondMenu in Model.SecondMenus)
                                         {
            			                      <li><a  asp-controller="@secondMenu.URL" asp-action="">@secondMenu.EnTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==2)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var product in Model.Products)
                                         {
            			                      <li><a  asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.EnTitle @product.EnTitle2</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }
                                else if (item.Id==3)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var onlineService in Model.OnlineServices)
                                         {
            			                      <li><a asp-controller="OnlineServices" asp-action="Detail" asp-route-id="@onlineService.Id">@onlineService.EnTitle</a></li>
                                             
                                         }
            			                      <li><a asp-controller="OnlineServices" asp-action="OnlinePayment">Online payment</a></li>
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==4)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var informationCenter in Model.InformationCenters)
                                         {
            			                      <li><a asp-controller="InformationCenter" asp-action="Detail" asp-route-id="@informationCenter.Id">@informationCenter.EnTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }
                            </li>

                        }
                        else if (culture == "ru")
                        {
                            <li><a href="@(context.PathBase+item.URL)">@item.RuTitle</a>
                                @if (item.Id==1)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var secondMenu in Model.SecondMenus)
                                         {
            			                      <li><a  asp-controller="@secondMenu.URL" asp-action="">@secondMenu.RuTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==2)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var product in Model.Products)
                                         {
            			                      <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.RuTitle @product.RuTitle2</a></li>
            			                      
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }
                                else if (item.Id==3)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var onlineService in Model.OnlineServices)
                                         {
            			                      <li><a asp-controller="OnlineServices" asp-action="Detail" asp-route-id="@onlineService.Id">@onlineService.RuTitle</a></li>
                                             
                                         }
            			                      <li><a asp-controller="OnlineServices" asp-action="OnlinePayment">Онлайн платеж</a></li>
            			                 
            		                   </ul>
                                    </div>
                                }else if (item.Id==4)
                                {
                                    <div class="submenu">
            		                  <ul>
                                          @foreach (var informationCenter in Model.InformationCenters)
                                         {
            			                      <li><a asp-controller="InformationCenter" asp-action="Detail" asp-route-id="@informationCenter.Id">@informationCenter.RuTitle</a></li>
                                             
                                         }
            			                 
            		                   </ul>
                                    </div>
                                }
                            </li>

                        }
                    }

                </ul>
            </nav>
            <button class="close_menu"></button>
        </div>
    </div>
    <div class="header_actions">
        <a href="tel:+99412942" class="call_us"><span>942</span></a>
        <a href="https://mylife.az/" target="_blank" class="login_bttn"><span>
                        @if (culture == "az")
                        {
                            @Model.IconButton.AzName

                        }
                        else if (culture == "en")
                        {
                            @Model.IconButton.EnName

                        }
                        else if (culture == "ru")
                        {
                            @Model.IconButton.RuName

                        }</span></a>
        <button class="mobile_menu"></button>
    </div>
</header>
