@{
    ViewData["Title"] = "Detail";
    FAQ fAQ= Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-0 header-title">FAQ Ətraflı</h2>
            <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px; justify-content:end">
                Go Back
            </a>
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Başlıq </th>
                            <td>
                                @fAQ.AzTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Mətn</th>
                            <td>
                                @Html.Raw(fAQ.AzDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Заголовок</th>
                            <td>
                                @fAQ.RuTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Текст</th>
                            <td>
                                @Html.Raw(fAQ.RuDescription)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Title</th>
                            <td>
                                @fAQ.EnTitle
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @Html.Raw(fAQ.EnDescription)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



